<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://developer.lanzoug.com/file/?B2FaZF1sVWQFDAI6ATRUOAQ7ATleQ1M4CmYAZ1MvURMEQ1dfCGQEflQyAwoBZFdgUTwHNlE8UGpVY1dhAmxUZwcpWmRdcFVgBXUCMgE8VDkEOwFbXmhTNQowAD9TN1FjBDNXOAhtBGlUOwNzATNXJVE2BzBRPFBgVWFXZgJoVGUHM1orXXBVcQVuAmYBZVRnBG0BK14xU2AKIgA0Uz5RfwRnV2QIYgQ1VGYDYAE2V2JROwc7UTxQa1U0V2kCbVRjBz5aaF0xVTIFNQIwATBUZQQ6ATJeNFM1Cm8AZFM9UTIEKldpCCUEMVQkAyABJlczUXkHa1FqUG9VY1doAm1UYgcxWjtdJlV1BToCOQEwVDMEYwE1XjdTZgo5ADJTOFFnBDdXMQhmBH5ULANzATNXOlF8Bz9RP1BkVWVXZQJsVG0HNlo9XTdVNwV1AiEBJVQiBGMBNV43U2YKOQA0UzdRYAQ9VzcIZAR2VHcDPAElV2tROgczUTlQfFVqV2ACcFRkBzFaOF0uVTMFYQJj</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>pica.test.jgg</string>
                     <key>bundle-version</key>
                    <string>2.1.2.5</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>BikaCG</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
